.card {
  transition: 0.25s;
}
.card:hover {
  transform: scale(1.05);
}
.note-date {
  font-size: 0.75rem;
  text-align: end;
}
.card-body .btn {
  font-size: 0.75rem !important;
}
.card-title {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.card-text {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.hide {
  display: none !important;
}